# Merging datasets

In [1]:
import pandas as pd

In [2]:
path_mercado = 'C:/workspace/Desafio Grão Direto IA/Data/mercado-desafio-tratado.xlsx'
path_transacoes = 'C:/workspace/Desafio Grão Direto IA/Data/transações-desafio-tratado.xlsx'

mercado = pd.read_excel(path_mercado)
transacoes =  pd.read_excel(path_transacoes)

In [3]:
model_df = pd.merge(transacoes,mercado,on='Date',how='left')

In [4]:
model_df

,Date,Seller ID,Last Transaction,Last Week,Last Month,Day of Week,Transactioned,Price,CBOT,Close,Change,Percentage Change
0,2024-01-30,100000060,0,0,0,1,0,97.111044,1215.886963,4.950200,False,0.000000
1,2024-01-31,100000060,0,0,0,2,0,98.585604,1222.299024,4.950300,True,0.002023
2,2024-02-01,100000060,0,0,0,3,0,96.726709,1209.233105,4.951900,True,0.032307
3,2024-02-02,100000060,0,0,0,4,0,97.929889,1199.996115,4.915000,False,-0.750764
4,2024-02-03,100000060,0,0,0,5,0,97.929889,1199.996115,4.915000,False,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
624658,2024-11-01,100000314,0,0,0,4,0,117.601042,1012.899216,5.789400,True,0.468098
624659,2024-11-02,100000314,0,0,0,5,0,117.601042,1012.899216,5.789400,False,0.000000
624660,2024-11-03,100000314,0,0,0,6,0,117.601042,1012.899216,5.789400,False,0.000000
624661,2024-11-04,100000314,0,0,0,0,0,115.506245,1020.956401,5.677526,False,-1.970473
624662,2024-11-05,100000314,0,0,0,1,0,116.755121,1020.007001,5.790600,True,1.952714

In [5]:
target = model_df.pop('Transactioned')
model_df['Transactioned'] = target
model_df

,Date,Seller ID,Last Transaction,Last Week,Last Month,Day of Week,Price,CBOT,Close,Change,Percentage Change,Transactioned
0,2024-01-30,100000060,0,0,0,1,97.111044,1215.886963,4.950200,False,0.000000,0
1,2024-01-31,100000060,0,0,0,2,98.585604,1222.299024,4.950300,True,0.002023,0
2,2024-02-01,100000060,0,0,0,3,96.726709,1209.233105,4.951900,True,0.032307,0
3,2024-02-02,100000060,0,0,0,4,97.929889,1199.996115,4.915000,False,-0.750764,0
4,2024-02-03,100000060,0,0,0,5,97.929889,1199.996115,4.915000,False,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
624658,2024-11-01,100000314,0,0,0,4,117.601042,1012.899216,5.789400,True,0.468098,0
624659,2024-11-02,100000314,0,0,0,5,117.601042,1012.899216,5.789400,False,0.000000,0
624660,2024-11-03,100000314,0,0,0,6,117.601042,1012.899216,5.789400,False,0.000000,0
624661,2024-11-04,100000314,0,0,0,0,115.506245,1020.956401,5.677526,False,-1.970473,0
624662,2024-11-05,100000314,0,0,0,1,116.755121,1020.007001,5.790600,True,1.952714,0